.bookAVisitMainBoard {
  width: 410px;
  height: 780px;
  margin: auto;
  margin-top: 10px;
  overflow-y: scroll;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px;
  opacity: 100%;
  position: relative;
  background-color: #f5f5f5;
  border: 1px solid #a3a5ac;
}

.book-an-appointment-button {
  position: absolute;
  top: 0;
  margin-top: 500px;
  border-radius: 40px;
  border: none;
  background: linear-gradient(91.19deg, #f7b70f 0%, #f7b70f 108.57%);
  color: #00308b;
  font-size: 24px;
  font-weight: 900;

  width: 78%;
  padding: 1rem;
}

.book-a-visit-Links {
  margin-top: 500px;
  display: flex;
  justify-content: space-between;
}

.contact-info-book-a-visit {
  width: 390px;
  height: 123px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding-right: -20px;
  border-radius: 10px;
  box-shadow: -3px -3px 6px #f5f5f5, 3px 3px 6px #bed0f1;
}

.contact-info-book-a-visit > div > p {
  padding-left: 15px;
  padding-right: 15px;
  color: #00308b;
  font-weight: 500;
}
