.callOrChatMainBoard {
  width: 400px;
  height: 790px;
  margin: auto;
  margin-top: 0;
  overflow-y: scroll;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
  opacity: 100%;
  position: relative;
  background-color: #f9f8ff;
  border: 1px solid #a3a5ac;
}
