.view-gmo-mainBoard {
  width: 400px;
  height: 680px;
  margin: auto;
  margin-top: 20px;

  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
  opacity: 100%;
  position: relative;
  background-color: #f5f5f5;
  border: 1px solid #a3a5ac;
}

.contact-info {
  width: 390px;
  height: 123px;

  border-radius: 10px;
  box-shadow: -3px -3px 6px #f5f5f5, 3px 3px 6px #bed0f1;
}

.contact-information {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding-right: -20px;
}
.contact-information > p {
  font-size: 24px;
  font-weight: 700;
  color: #3a3a3a;
}

.contact-information > img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.contact-info > div {
  display: flex;
  justify-content: space-between;
}
.contact-info > div > p {
  padding-left: 15px;
  padding-right: 15px;
  color: #00308b;
  font-weight: 500;
}

.hmoText {
  color: #3a3a3a;
  font-size: 24px;
  font-weight: 600;
  display: inline;
  margin-left: 90px;
}

.view-hmo {
  margin-top: 400px;
}
