.ourServicesMainBoard {
  width: 410px;
  height: 690px;
  margin: auto;
  margin-top: 10px;
  overflow-y: scroll;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px;
  opacity: 100%;
  position: relative;
  background-color: #f5f5f5;
  border: 1px solid #a3a5ac;
}

.our-services-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.service {
  margin-bottom: 20px;
}
.ourServices {
  margin-top: 400px;
}
